# General hidden or unwanted
.*
~*
*~
*#
Thumbs.db
*.bak
*.swp
tmp/
cache/
out/

# Log files and binary files
*.log
*.zip
*.tar.gz
*.gz
*.tar
*.z7
*.exe
*.msi
*.pkg
*.dll
*.so

# Scala, Java, and Groovy
*.class
hs_err_pid*

# SBT
dist/*
target/
*/target/
lib_managed/
src_managed
project/boot
project/plugins/project

# Python temp and build files
docs/html/
__pycache__/
__pypackages__/
*.py[cod]
*$py.class
*.egg-info
pip-wheel-metadata
share/python-wheels/
build/
dist/
eggs/
sdist/
docs/_build
cython_debug/

# Files from other languages
*.o
*.stackdump
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

!/.dockerignore
!.editorconfig
!.gitignore
!.pre-commit-config.yaml
!.github
